language: node_js
node_js:
  - 8
cache:
  directories:
  - node_modules

sudo: required

services:
  - postgresql
addons:
  postgresql: "9.6"

notifications:
  slack: servirme:PL18rvrpG8M0tB8dTVhxAODI

#before_install:
#  - sudo rm /usr/local/bin/docker-compose
#  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
#  - chmod +x docker-compose
#  - sudo mv docker-compose /usr/local/bin
#  - ./scripts/ci-env-to-docker
before_install:
  - npm set progress=false

before_script:
  - psql -c 'create database servirme;' -U postgres
  - npm run migrate
  - npm run seed

script:
  - npm run lint
  - npm test

after_script:
  - npm run send-coverage-data

#deploy:
#  provider: script
#  script: npm run deploy-prod
#  on:
#    branch: master

env:
  # All variables added here that needs to be available in the application
  # level need to be whitelisted in 'scripts/ci-env-to-docker' so we can
  # insert them into docker
  global:
    - NODE_ENV=test
#    - DOCKER_COMPOSE_VERSION=1.17.0
