language: node_js
node_js:
  - "6.11.0"
script:
    - npm run lint
    - npm run test
#after_script:
#    - npm run send-coverage-data
deploy:
    provider: script
    script: npm run deploy-prod
    on:
        branch: master
env:
  global:
    - NODE_ENV=test
