version: 2
jobs:
  build:
    environment:
        NODE_ENV: test
        APP_ENV: test

    working_directory: ~/servir.me
    docker:
      - image: circleci/node:6.10.3
    steps:
      - checkout

      - run:
          name: Install dependencies
          command: npm install

      # Tests section
      - run:
          name: Lint code
          command: npm run lint
      - run:
          name: Validate serverless.yml
          command: npm run validate-yml
      - run:
          name: Run tests
          command: npm run ci-test

      - run:
          name: Send coverage data
          command: npm run send-coverage-data

      - deploy:
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ];
              then npm run deploy-prod;
            fi
